@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add to global CSS */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#navbar {
  background: linear-gradient(to right, #ffffff);
  /* from-cyan-700 (#0e7490), via-blue-500 (#3b82f6), to-indigo-600 (#4f46e5) 0053d0   #2583fd*/
  color: #ffffff; /* Optional: for better text visibility */
}

